	<aside id="sidebar" >
		<button class="logout" ng-show="authData" ng-click="logOut($event)">Logout</button>
	 	<div class="login" ng-show="!authData">
		 	<form role="form">
		        <input ng-model="email" type="email" placeholder="Email address" required="" autofocus="">
		        <input ng-model="password" type="password" placeholder="Password" required="">
		        <span>
		        <button ng-show="register" ng-click="register($event)">Register</button>
		        <button ng-show="register" ng-click="login($event)">Login</button>
		        </span>
	    	</form>
	    	<button ng-show="!authData" ng-click="loginToFB($event)">Login With Facebook</button>
    	</div>
	    <div ng-show="authData">
		<h1>My Tasks</h1>
		<form ng-submit="addTask()">
    		<input placeholder="Add new task" type="text" ng-model="task">
    		<input type="submit">
  		</form>
		<ul class="task-list">
    		<li ng-repeat="task in tasks | orderBy:'timestamp':'reverse'">
		 	{{ task.content }}
		 	<a href="" ng-click="tasks.$remove(task)">X</a>
    		</li>
 		</ul>
 		</div>
     
	</aside>
	<section id="content">
		<h1>Bloctime</h1>
		<my-button></my-button>
	</section>
</div>

